// Import the reset styles
@import 'reset';

body {
  background: linear-gradient(101.05deg, rgba(255, 138, 0, 0.2) 0%, #FFCFD2 99.01%);
}

.content-wrapper {
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: 1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  padding: 12px 45px;
  border-radius: 50px;
  background: $primary-color-main;
  color: $color-white;
  font-family: $font-body;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: inline-block;

  &:hover {
    background: $primary-color-main-hover;
  }

  &.coupon-opt-in.active {

  }

}

.loading-spinner {
  display: inline-block;
  width: 20px; /* Width of the spinner */
  height: 20px; /* Height of the spinner */
  border: 2px solid transparent; /* Transparent border for the spinner effect */
  border-top: 2px solid $primary-color-accent; /* The visible part of the spinner */
  border-radius: 50%; /* Makes it circular */
  animation: spinner 1s linear infinite; /* Adds the spinning effect */
  margin-right: 9px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding: 45px 30px;
  }

  @media screen and (max-width: 1199px) {
    padding-left: 30px;
    padding-right: 30px;
}

  .site-logo {
    max-width: 140px;
    height: auto;
    display: block;
  }

  .hamburger-menu {
    display: block;
    i.fa {
      font-size: 30px;
    }
  }
}

.site-banner-wrapper {
  width: 100%;

  .site-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 0 auto;

    h1 {
      font-size: 48px;
      font-weight: 400;
      line-height: 58.59px;
      text-align: left;
      text-decoration-skip-ink: none;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    h4 {
      font-family: $font-body;
      font-size: 25px;
      font-weight: 700;
      line-height: 29.3px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 30px;
    }

    .column {
      flex: 1;

    }

    .text {
      text-align: left;
      padding: 1rem;
      max-width: 45%;
    }

    .image {
      max-width: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 480px) {
      h1 {
        font-size: 35px;
        line-height: 1.3;
      }

      h4 {
        font-size: 23px;
      }

      p {
        font-size: 16px;
      }

    }

  }

  @media screen and (max-width: 767px) {
    .site-banner {
      flex-direction: column-reverse; /* Makes the second column appear on top */
      height: auto; /* Adjust height for stacked layout */

      .column {
        max-width: 100%; /* Columns take full width when stacked */
        flex: none; /* Remove flex-grow/shrink for stacked layout */
      }

      .image,
      .text {
        text-align: center; /* Center content for better visual alignment on smaller screens */
        padding: 1rem;
      }

    }
  }

  @media screen and (max-width: 599px) {
    .site-banner {
      flex-direction: column-reverse; /* Makes the second column appear on top */
      height: auto; /* Adjust height for stacked layout */

      .column {
        max-width: 100%; /* Columns take full width when stacked */
        flex: none; /* Remove flex-grow/shrink for stacked layout */
      }

      .image,
      .text {
        text-align: center; /* Center content for better visual alignment on smaller screens */
        padding: 1rem;
      }

      .image {
        img {
          max-width: 300px;
        }
      }

    }
  }

}